@using PayRoll.Presentation.ViewModels

@model List<EmployeeListViewModel>
<a class="btn btn-info" asp-action="Create" asp-controller="Student">Create!</a>
<table class="table table-striped">
    <thead>
        <tr>

            <th>
                Id
            </th>
            <th>
                EmployeeNumber
            </th>
            <th>
                FullName
            </th>
            <th>
                Gender
            </th>
            <th>
                ImageURL
            </th>
            <th>
                DateOfBirth
            </th>
            <th>
                DateOfJoined
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                PostalCode
            </th>
            <th>
                Designation
            </th>
            <th>
                PaymentMethod
            </th>
            <th>
                StudentLoan
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>


                <td>

                @item.Id
                </td>
                <td>
                    @item.EmployeeNumber
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.ImageURL
                </td>
                <td>
                    @item.DateOfBirth
                </td>
                <td>
                    @item.DateOfJoined
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.City
                </td>

                <td>
                    @item.PostalCode
                </td>
                <td>
                    @item.Designation
                </td>
                <td>
                    @item.DateOfBirth
                </td>
                <td>
                    @item.PaymentMethod
                </td>
                <td>
                    @item.StudentLoan
                </td>
                <td>
                    <a class="btn btn-info me-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger me-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    
                </td>
            </tr>
        }

       
        </tbody>

    </table>